[project]
	description = 3Des???????
[access]
	inheritFrom = All-Projects
[access "refs/*"]
	owner = group user/Jack (newbdez33)
[access "refs/for/refs/*"]
	read = group user/Jack (newbdez33)
	push = group user/Jack (newbdez33)
	label-Code-Review = -2..+2 group user/Jack (newbdez33)
	label-Verified = -1..+1 group user/Jack (newbdez33)
	rebase = group user/Jack (newbdez33)
	removeReviewer = group user/Jack (newbdez33)
	submit = group user/Jack (newbdez33)
[access "refs/heads/*"]
	read = group user/Jack (newbdez33)
	create = group user/Jack (newbdez33)
	push = +force group user/Jack (newbdez33)
	pushMerge = group user/Jack (newbdez33)
[access "refs/tags/*"]
	push = +force group user/Jack (newbdez33)
	pushTag = group user/Jack (newbdez33)
	pushSignedTag = group user/Jack (newbdez33)
